<!DOCTYPE html>
<html>
    <head>
        <title>Live Dictionary</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>My Dictionary</h1>
        </header>
        <section>
            <div class="menudicdiv">
                <div class="dicontainer">En > SP</div>
                <div class="dicontainer">SP > IT > FR</div>
            </div>

            <article>
                <h1>Dictionary SP > FR</h1>
            </article>
        </section>

        <footer>
            <p>Footer</p>
        </footer>
        
    </body>
</html>